<% tweet.comments.order('created_at DESC').each do |comment| %>
  <li class="comment-show-list-element d-flex">
    <div class="tweet-user-images">
      <% unless comment.user.image.present? %>
        <%= image_tag "profile_default_img_128.png", class: "tweet-default-user-image" %>
      <% else %>
        <%= image_tag comment.user.image, class: "tweet-user-image" %>
      <% end %>
    </div>
    <div class="tweet-text-container">
      <div class="tweet-user-name">
        <%= link_to comment.user.nickname, user_path(comment.user), class: "no-text-decoration black-color"%>
      </div>
      <p class="tweet-text p-1">
        <%= comment.body %>
      </p>
    </div>
    <div class="comment-right ml-auto d-flex flex-column align-items-end">
      <% if comment.user == current_user %>
        <%= link_to tweet_comment_path(comment.tweet.id, comment), method: :delete, class: "delete-comment" do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      <% end %>
      <span class="comment-date mt-auto"> 
         <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
      </span>
    </div>
  </li>
<% end %>
