<%= render "shared/header"%>
<% breadcrumb :tweet_index %>
<%= render "shared/breadcrumbs_gray" %>
<div class="tweet-index-page d-flex justify-content-center align-items-center">
  <div class="tweets">
    <div class="tweets-header">
      <p>メモシェア投稿一覧</p>
    </div>
    <div class="tweets-body">
      <ul>
        <% @tweets.each do |tweet| %>
          <li class="tweet d-flex p-2">
            <div class="tweet-user">
              <%= link_to user_path(tweet.user), class: "no-text-decoration" do %>
                <div class="tweet-user-images">
                  <% unless tweet.user.image.present? %>
                    <%= image_tag "profile_default_img_128.png", class: "tweet-default-user-image" %>
                  <% else %>
                    <%= image_tag tweet.user.image, class: "tweet-user-image" %>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="tweet-text-container">
              <%= link_to user_path(tweet.user), class: "no-text-decoration" do %>
                <div class="tweet-user-name">
                  <%= tweet.user.nickname %>
                </div>
              <% end %>
              <div class="tweet-text-box">
                <p class="tweet-text p-1">
                  <%= tweet.body %>
                </p>
              </div>  
              <div class="tweet-text-box d-inline-block">
                <p class="tweet-text tweet-training-content p-1 bg-info text-white rounded-pill">
                  <%= tweet.memo.training_content %>/<%= tweet.memo.weight%>kg/<%= tweet.memo.training_time %>回/<%= tweet.memo.set_count.name %>セット
                </p>
              </div>
              <div class="row parts">
                <div id="like-icon-tweet-<%= tweet.id.to_s %>">
                  <% if tweet.liked_by(current_user).present? %>
                    <%= link_to "", tweet_like_path(tweet.id, tweet.liked_by(current_user)), method: :DELETE, remote: true, class: "loved hide-text" %>
                  <% else %>
                    <%= link_to "", tweet_likes_path(tweet), method: :POST, remote: true, class: "love hide-text" %>
                  <% end %>
                </div>
                <div id="like-text-tweet-<%= tweet.id.to_s %>">
                  <%= render "like_count", { likes: tweet.likes } %>
                </div>
                <%= link_to "", tweet_path(tweet.id), class: "comment" %>
                <%= render "comment_count", { comments: tweet.comments }%>
              </div>
            </div>
            <div class="tweet-time ml-auto d-flex flex-column">
              <% if current_user.id == tweet.user_id %>
                <span class="tweet-delete-icon d-flex justify-content-end">
                  <%= link_to memo_tweet_path(tweet.memo_id, tweet.id) ,method: :delete, data: { confirm: "本当に削除しマッスルか？" } do %>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
                </span>
              <% end %>
              <span class="tweet-time-ago mt-auto">
                <%= time_ago_in_words(tweet.created_at) + "前" %>
              </span>
            </div>
          </li>
        <% end %>
      </ul>
      <div class="tweets-pagenate">
        <%= paginate @tweets %>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer"%>