<%= render "shared/header" %>
<% if @user.id == current_user.id %>
  <% breadcrumb :mypage_following %>
<% else %>
  <% breadcrumb :user_page_following, @user %>
<% end %>
<%= render "shared/breadcrumbs" %>
<div class="follow-page d-flex jutify-content-center">
  <div class="follows">
    <div class="follows-header">
      <p><%= @user.nickname %>のフォロー一覧(<%= @users.length %>人)</p>
    </div>
    <div class="follows-body">
      <ul>
        <% @users.each do |user| %>
          <li class="follow d-flex">
          <%= link_to user_path(user) , class: "no-text-decoration" do %>
            <% unless user.image.present? %>
              <%= image_tag "profile_default_img_128.png", class: "tweet-default-user-image" %>
            <% else %>
              <%= image_tag user.image, class: "tweet-user-image" %>
            <% end %>
          <% end %>
          <div class="follow-text-container p-2 d-flex flex-column">
            <span>
              <%= link_to user_path(user), class: "no-text-decoration" do %>
                <%= user.nickname %>
              <% end %>
            </span>
            <span class="follow-text"><%= user.introduction %></span>
          </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<%= render "shared/footer" %>