<div class="user-show-page">
  <%= render "shared/header"%>
  <%= render "shared/flash_message" %>
  <div class="profile mt-4">
    <div class="profile-title">プロフィール</div>

    <%# またユーザー情報で画像があるかどうかで条件分岐 %>
    <% unless @user.image.present? %>
      <div class="profile-default-img mt-4"></div>
    <% else %>
      <%= image_tag @user.image, class: "profile-img mt-4" %>
    <% end %>
    <%# 終わり %>
    
    <div class="profile-name mt-4">
      <%= @user.nickname %>
    </div>

    <%# フォローのカウント %>
    <%= render "show_follow_count" %>
    <%# 終わり %>

    <div class="profile-introduction mt-4">
      <%= @user.introduction %>
    </div>
    <%= render "follow_form" %>
    <% if @user.id == current_user.id %>
      <%= link_to "情報を編集する", edit_user_registration_path, class: "user-edit-btn btn btn-outline-primary" %>
    <% end %>
  </div>
  
</div>