<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <% if user_signed_in? %>
      <%= link_to "Muscle Master", memos_path, class: "navbar-brand"%>
    <% else %>
      <%= link_to "Muscle Master", root_path, class: "navbar-brand"%>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "トレシェア", tweets_path, class: "nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to "メモ", memos_path, class: "nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to "マイページ", user_path(current_user.id), class: "nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_user_session_path,method: :delete, class: "nav-link"%>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to "サインアップ", new_user_registration_path, class: "nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: "nav-link"%>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>